:root {
    --colore-nav-footer-1: rgb(14, 225, 14);
    --colore-nav-footer-2: yellow;
    --colore-nav-footer-3: cyan;
    --colore-nav-footer-4: orange;
}

body {
    font-family: 'Bell MT', Bell, monospace;
    margin: 0;
    min-height:100vh;
    flex-direction:column;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
}

header {
    background-color: #1637ca;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 16px 0;
}

nav ul {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    justify-content: centre; 
}

nav.nav1 ul {
    background-color: var(--colore-nav-footer-1); /* Color for the first nav */
}
nav.nav2 ul {
    background-color: var(--colore-nav-footer-2); /* Color for the second nav */
}
nav.nav3 ul {
    background-color: var(--colore-nav-footer-3); /* Color for the third nav */
}
nav.nav4 ul {
    background-color: var(--colore-nav-footer-4); /* Color for the third nav */
}

nav ul li:first-child {
    margin-right: 28%; 
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    color: black;
    text-align: right;
    padding: 10px;
}
footer div {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

footer.footer1 {
    background-color: var(--colore-nav-footer-1); 
}
footer.footer2 {
    background-color: var(--colore-nav-footer-2); 
}
footer.footer3 {
    background-color: var(--colore-nav-footer-3); 
}
footer.footer4 {
    background-color: var(--colore-nav-footer-4); 
}

main{
    flex:1;
}

main div {
    padding: 10px;
    width: 60%;
    text-align: left;
    font-size: 16px;
    color: black;
}
main h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
main p a {
    text-decoration: none;
    color: black;
    font-style: italic;
}
main p a:hover{
    text-decoration: underline;
    background-color: gray;
    color: white;
}